%%% sys config

[
 {kernel, [
           {logger, [
                     {handler,
                      notice,
                      logger_std_h, #{
                                      level => notice,
                                      config => #{file => "log/notice.log"}
                                     }}
                    ]}
          ]},

 {mnesia, [ {dir, "./db_data"} ]},

 {mlchat_server, [ {port, 10001} ]}
].
