%%% rebar config

{erl_opts, [debug_info]}.

{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.8.0"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v3.0.0"}}}
       ]}.

{relx, [
        {release, {mlchat_server, "1.0.0"}, [mlchat_server, sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {mode, dev}
       ]}.

{profiles, [
            {prod, [
                    {relx, [
                            {mode, prod}
                           ]}
                   ]}
           ]}.
